.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/Practica1-CI-1.0.0.jar
target/Practica1-CI-1.0.0.jar.original
target/run.sh
target/classes/application.properties
target/classes/css/style.css
target/classes/es/codeurjc/daw/Application.class
target/classes/es/codeurjc/daw/controller/BlogRestController.class
target/classes/es/codeurjc/daw/controller/BlogWebController.class
target/classes/es/codeurjc/daw/controller/CommentDTOFull.class
target/classes/es/codeurjc/daw/controller/PostDTOBasic.class
target/classes/es/codeurjc/daw/controller/PostDTOFull.class
target/classes/es/codeurjc/daw/model/Comment.class
target/classes/es/codeurjc/daw/model/Post.class
target/classes/es/codeurjc/daw/repository/CommentRepository.class
target/classes/es/codeurjc/daw/repository/PostRepository.class
target/classes/es/codeurjc/daw/service/BlogService.class
target/classes/templates/blog.html
target/classes/templates/error.html
target/classes/templates/newPost.html
target/classes/templates/post.html
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/es.codeurjc.daw.RestTest.txt
target/surefire-reports/es.codeurjc.daw.SeleniumTest.txt
target/surefire-reports/es.codeurjc.daw.UnitaryTest.txt
target/surefire-reports/TEST-es.codeurjc.daw.RestTest.xml
target/surefire-reports/TEST-es.codeurjc.daw.SeleniumTest.xml
target/surefire-reports/TEST-es.codeurjc.daw.UnitaryTest.xml
target/test-classes/es/codeurjc/daw/RestTest.class
target/test-classes/es/codeurjc/daw/SeleniumTest.class
target/test-classes/es/codeurjc/daw/UnitaryTest.class
